@import "../../../utils/theme";
@import '../../../utils/palette.less';

.title {
  .fontLarge();
}

.subtitle {
  .fontShadow();
  font-size: 1.6em;
  text-align: center;
  border-bottom: 3px solid @color-primary-transparent-dark-4;
}
